body {
    background-color: #FDF5E6;
    background-size: 300vw;
    background-repeat: no-repeat;
    background-position: -65vw 2vh;
    z-index: -2;
    background-image: url('../js/lib/images/bottle2.svg')
}

p {
    margin-bottom: 0;
}

#map {
    width: 90vw;
    height: 650px;
    margin-top: 7vh;
    margin-left: 4vw;
    margin-bottom: 5vh;
}

#boozicorn-image img {
    width: 20vw;
    margin-left: 39vw;
    /*position: fixed;*/
}

.button {
    background-color: #4682B4;
    font-family: 'Quattrocento', serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#aggregate {
    width: 90vw;
    margin-left: 5vw;
}

#unicorns-categories {
    width: 35vw;
    margin-top: 3vw;
    margin-left: 5vw;
    padding-left: 4vw;
}

#unicorns-data {
    width: 35vw;
    margin-top: 3vw;
    margin-left: 5vw;
    padding-left: 4vw;
    /*-moz-column-count: 3;
    -moz-column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
    border: 2px solid red;*/
}

#header {
    color: #582335;
    font-family: 'Rye', Helvetica, sans-serif;
    font-size: 7vw;
    text-align: center;
}

#header h1 {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.intro-text {
    font-family: 'Quattrocento', serif;
    font-size: 3vw;
    width: 80vw;
    margin-left: 7vw;
    margin-top: 5vh;
    margin-bottom: 7vh;
    text-align: center;
    display: block;
    text-align: center;
    border-left: 2px dotted;
    border-right: 2px dotted;
    padding-left: 2%;
    padding-right: 2%;
}

#header span {
    color: #000000;
}

.num {
    color: #000000;
    font-weight: bold;
}

#date {
    font-family: 'Quattrocento', serif;
    color: #000000;
    font-size: 6vw;
    display: block;
    text-align: center;
    margin-bottom: 0;
}

#date h4 {
    margin-bottom: 2vh;
}

form {
    height: 4vw;
}

input {
    font-family: 'Quattrocento', serif;
    font-size: 1.2vw;
}

label {
    display: none;
}

.form-control {
    width: 19vw;
    height: 3vw;
}

#search {
    display: block;
    margin-left: 40vw;
}

.boozicorns {
    color: #000000;
    font-family: 'Rye', Helvetica, sans-serif;
    font-size: 7vw;
    margin-bottom: 0;
}

.date p {
    color: #000000;
    margin-top: 0;
}

.date p:nth-child(2) {
    font-size: 4vw;
}

.aggregated-summary {
    font-size: 7vh;
    font-family: 'Quattrocento', serif;
    text-align: center;
    margin-bottom: 1%;
    margin-left: 6vw;
    display: inline-block;
    width: 35vw;
    border-bottom: 2px dotted;
}

.summary {
    font-size: 2.5vw;
    font-family: 'Quattrocento', serif;
    text-align: center;
    width: 23vw;
    margin-bottom: 3vw;
    margin-left: 2vw;
    border-bottom: 2px dotted;
    display: inline-block;
    white-space: nowrap;
}

.big-summary-num {
    font-family: 'Quattrocento', serif;
    color: #4682B4;
    weight: bold;
    font-size: 15vw;
    margin-bottom: 0;
    letter-spacing: 0;
}

.summary-num {
    font-family: 'Quattrocento', serif;
    color: #4682B4;
    weight: bold;
    font-size: 5vw;
    margin-bottom: 0;
    letter-spacing: 0;
}

.summary p {
    margin-top: 0;
    margin-bottom: 0;
}

.summary-context {
    font-size: 1.5vw;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1vw;
}

.summary-context p {
    margin-top: 0;
}

.summary:nth-child(4n) {
    clear: both;
}

.unicorn-dive {
    font-size: 1.5vw;
    text-align: left;
    background-color: #4682B4;
    display: none;
    margin-top: 2vw;
    padding: 1vw;
}

.summary:hover .unicorn-dive {
    display: inline-block;
    margin-left: 0;
}

#about {
    font-family: 'Quattrocento', serif;
    size: 3vh;
    color: #582335;
    text-align: center;
    margin-bottom: 5%;
}

#about a {
    color: #000000;
}

.glass {
    margin-bottom: 8vh;
    margin-top: 8vh;
}

.fa-glass {
    text-align: center;
    color: #000000;
    font-size: 8vh;
    display: block;
}

a {
    text-decoration: none;
}

.asterisk {
    color: #000000;
}

.fa-caret-up {
    color: #000000;
}

#caveats {
    font-family: 'Quattrocento', serif;
    font-size: 1vw;
    border: 1px dotted;
    width: 88vw;
    padding: 1%;
    display: block;
    margin-left: 4vw;
    margin-bottom: 5vh;
}

#caveats p strong {
    font-family: 'Rye';
}

@media only screen and (max-width: 450px) {
    body {
        background-position: center 75vh;
        background-size: 700vw;
        padding: 0;
        margin: 0;
    }

    #map {
        width: 100vw;
        margin-left: 0;
        margin-bottom: 5vw;
        height: 300px;
    }

    #boozicorn-image img {
        width: 50vw;
        margin-left: 24vw;
    }

    .intro-text {
        font-size: 5.5vw;
        margin-left: 7vw;
    }

    #date {
        font-size: 10vw;
        margin-left: 5vw;
    }

    #unicorns {
        width: 90vw;
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }

    #unicorns-categories {
        width: 80vw;
        margin-top: 10vw;
    }

    #search {
        margin-left: 10vw;
    }

    form {
        height: 50vw;
        width: 80vw;
        display: block;
    }

    .form-control {
        width: 80vw;
        height: 20vw;
        display: block;
    }

    .button {
        margin-left: 0;
        font-size: 8vw;
        display: block;
        padding: 2vw;
    }

    input {
        font-family: 'Quattrocento', serif;
        font-size: 7vw;
    }

    .aggregated-summary {
        display: block;
        width: auto;
        border-bottom: none;
    }

    .summary {
        font-size: 7.5vw;
        width: 80vw;
        font-family: 'Quattrocento', serif;
        text-align: center;
        margin-bottom: 1%;
        padding-bottom: 5vw;
        border-bottom: none;
        margin-left: 0;
        display: block;
        float: none;
        white-space: normal;
        border: 1px solid #000000;
    }

    .big-summary-num {
        font-size: 20vw;
    }

    .summary-num {
        font-family: 'Quattrocento', serif;
        weight: bold;
        font-size: 18vw;
        margin-bottom: 0;
    }

    .summary-context {
        font-size: 6vw;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10vh;
    }

    .top10 {
        font-size: 12vw
    }

    .unicorn-dive {
        font-size: 4vw;
    }

    #caveats {
        width: 90vw;
        margin-left: 1.5vw;
        font-size: 4vw;
    }
}
