body {
    background-color: #FDF5E6;
    background-size: 400vw;
    background-repeat: no-repeat;
    background-position: -115vw -3vw;
    z-index: -2;
    background-image: url('../js/lib/images/bottle2.svg')
}

ol, ul, li {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

li {
    margin-bottom: 1vw;
    display: inline-block;
}

li:first-child {
    border-top: 0;
}

li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}



#map {
    width: 90vw;
    height: 650px;
    margin-top: 7vh;
    margin-left: 4vw;
    margin-bottom: 5vh;
}

#boozicorn-image img {
    width: 20vw;
    margin-left: 39vw;
    /*position: fixed;*/
}

.button {
    background-color: #4682B4;
    font-family: 'Quattrocento', serif;
    border: none;
    color: white;
    padding: 1.5vw 2.1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vw;
}

#aggregate {
    width: 90vw;
    margin-left: 5vw;
}

#unicorns-categories {
    width: 90vw;
    margin-top: 10vw;
    margin-left: 5vw;
}

#unicorns-data {
    width: 90vw;
    margin-left: 5vw;
}

#header {
    color: #582335;
    font-family: 'Rye', Helvetica, sans-serif;
    font-size: 7vw;
    text-align: center;
}

#header h1 {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.intro-text {
    font-family: 'Quattrocento', serif;
    font-size: 3vw;
    width: 80vw;
    margin-left: 7vw;
    margin-top: 5vh;
    margin-bottom: 7vh;
    text-align: center;
    display: block;
    border-left: 2px dotted;
    border-right: 2px dotted;
    padding-left: 2%;
    padding-right: 2%;
}

#header span {
    color: #000000;
}

.num {
    color: #000000;
    font-weight: bold;
}

#date {
    font-family: 'Quattrocento', serif;
    color: #000000;
    font-size: 6vw;
    display: block;
    text-align: center;
    margin-bottom: 1vw;
}

#date h4 {
    margin-top: 4vw;
    margin-bottom: 4vw;
}

form {
    height: 4vw;
}

input {
    font-family: 'Quattrocento', serif;
    font-size: 1.2vw;
}

label {
    display: none;
}

.form-control {
    width: 19vw;
    height: 3vw;
    margin-bottom: 1vw;
}

#search {
    display: block;
    margin-left: 40vw;
}

/*.date p {
    color: #000000;
    margin-top: 0;
}

.date p:nth-child(2) {
    font-size: 4vw;
}*/

.aggregated-summary {
    font-size: 7vw;
    font-family: 'Quattrocento', serif;
    text-align: center;
    margin-bottom: 1%;
    margin-left: 6vw;
    display: inline-block;
    width: 35vw;
    border-bottom: 2px dotted;
}

.aggregated-summary p {
    margin-bottom: 0;
}

.unicorn-name {
    font-size: 1.75vw;
    white-space: normal;
}

.unicorn-name ~ p {
    margin-top: 0 !important;
}

#top-store {
    margin-bottom: 3vw;
}

.summary {
    font-size: 2.5vw;
    font-family: 'Quattrocento', serif;
    text-align: center;
    width: 70vw;
    margin-bottom: 3vw;
    margin-left: 5vw;
    /*padding-bottom: 2vw;*/
    display: inline-block;
    white-space: nowrap;
}

.unicorn-dive {
    /*float: left;*/
    font-size: 1.5vw;
    /*background-color: #FDF5E6;*/
    display: none;
    margin-top: 2vw;
    width: 65vw;
    text-align: right;
    white-space: normal;
    -moz-column-count: 2;
    -moz-column-gap: 2vw;
    -webkit-column-count: 2;
    -webkit-column-gap: 2vw;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    column-count: 2;
    column-gap: 2vw;
    overflow: hidden;
}

.summary:hover .unicorn-dive {
    display: inline-block;
    margin-left: 0;
}

.stores {
    text-align: center;
    width: 90vw;
    height: 7vw;
}

.summary-store {
    font-size: 1.75vw;
    font-family: 'Quattrocento', serif;
    text-align: left;
    width: 90vw;
    display: inline-flex;
    margin-right: 0;
    white-space: nowrap;
}

.store-dive {
    font-size: 1.5vw;
    display: none;
    margin-left: 1vw;
    width: 70vw;
    text-align: right;
    white-space: normal;
    -moz-column-count: 2;
    -moz-column-gap: 2vw;
    -webkit-column-count: 2;
    -webkit-column-gap: 2vw;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    column-count: 2;
    column-gap: 3vw;
    overflow: hidden;
}

.summary-store p {
    margin-top: 0;
}

.store-dive p {
    margin-bottom: 0;
}

.summary-store:hover {
    color: #4682B4;
}

.summary-store p:hover ~ .store-dive {
    display: inline-block;
    color: #000000;
}

.no-click {
    font-size: 5vw;
    color: #000000;
    border-bottom: 2px dotted #000000;
}

.big-summary-num {
    font-family: 'Quattrocento', serif;
    color: #4682B4;
    weight: bold;
    font-size: 15vw;
    margin-bottom: 0;
    letter-spacing: 0;
}

.summary-num {
    font-family: 'Quattrocento', serif;
    color: #4682B4;
    weight: bold;
    font-size: 5vw;
    margin-bottom: 3vw;
    letter-spacing: 0;
    border-bottom: 2px dotted #000000;
}

.stores .summary-num {
    border-bottom: 0;
}

.summary > p {
    margin-left: 35vw;
    width: 10vw;
}

.summary p {
    margin-top: 0;
    margin-bottom: 0;
}

.summary-context {
    font-size: 1.5vw;
    text-align: center;
    margin-top: 1vw;
    margin-left: 10vw;
    padding-bottom: 1vw;
}

.summary-context p {
    margin-top: 0;
}

.summary:nth-child(4n) {
    clear: both;
}

.top10 {
    padding-bottom: 2vw;
    display: inline-block;
}

.num-bottles {
    color: #4682B4;
}

#caveat-percentage {
    font-family: 'Quattrocento', serif;
    font-size: 2vw;
    color: #000000;
    margin-bottom: 5%;
    margin-left: 4vw;
    width: 90vw;
}

#about {
    font-family: 'Quattrocento', serif;
    font-size: 2vw;
    color: #582335;
    text-align: center;
    margin-bottom: 5%;
    width: 100vw;
}

#about a {
    color: #000000;
}

.glass {
    margin-bottom: 8vw;
    margin-top: 8vw;
}

.fa-glass {
    text-align: center;
    color: #000000;
    font-size: 8vw;
    display: block;
}

a {
    text-decoration: none;
}

.summary-context p:nth-child(2) {
    margin-top: 1vw;
}

.asterisk {
    color: #000000;
}

.fa-caret-up {
    color: #000000;
}

#caveats {
    font-family: 'Quattrocento', serif;
    font-size: 1.5vw;
    border: 1px dotted;
    width: 88vw;
    padding: 1%;
    display: block;
    margin-left: 4vw;
    margin-bottom: 5vh;
}

#caveats p strong {
    font-family: 'Rye';
}

@media only screen and (max-width: 450px) {
    body {
        background-position: center 365vw;
        background-size: 650vw;
        padding: 0;
        margin: 0;
    }

    #map {
        width: 100vw;
        margin-left: 0;
        margin-bottom: 5vw;
        height: 300px;
    }

    #boozicorn-image img {
        width: 50vw;
        margin-left: 24vw;
    }

    .intro-text {
        font-size: 5.5vw;
        margin-left: 7vw;
    }

    #date {
        font-size: 10vw;
        margin-left: 5vw;
    }

    #unicorns-data {
        width: 90vw;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        margin-left: 0;
    }

    #unicorns-categories {
        width: 90vw;
        margin-top: 7vw;
        margin-left: 0;
    }

    #search {
        margin-left: 10vw;
    }

    form {
        height: 50vw;
        width: 80vw;
        display: block;
    }

    .form-control {
        width: 72vw;
        height: 20vw;
        display: block;
    }

    .button {
        margin-left: 0;
        font-size: 8vw;
        display: block;
        padding: 2vw;
    }

    input {
        font-family: 'Quattrocento', serif;
        font-size: 7vw;
    }

    .aggregated-summary {
        display: block;
        width: auto;
        margin-left: 0;
        border-bottom: none;
    }

    .summary {
        font-size: 7.5vw;
        width: 90vw;
        font-family: 'Quattrocento', serif;
        text-align: center;
        margin-bottom: 5vw;
        border-bottom: none;
        margin-left: 5vw;
        display: block;
        float: none;
        white-space: normal;
    }

    .stores {
        width: 95vw;
        margin-left: 2.5vw;
    }

    .summary-store {
        font-size: 4vw;
        margin-bottom: 4vw;
        text-align: left;
    }

    .big-summary-num {
        font-size: 20vw;
    }

    .no-click {
        font-size: 16vw;
        border-bottom: 0;
    }

    .unicorn-name {
        font-size: 5vw;
    }

    .summary-num {
        font-family: 'Quattrocento', serif;
        weight: bold;
        font-size: 18vw;
        margin-bottom: 5vw;
    }

    .summary-context {
        font-size: 6vw;
        text-align: center;
        margin-top: 0;
        margin-bottom: 5vw;
    }

    .top10 {
        font-size: 12vw;
        padding-bottom: 0;
    }

    .unicorn-dive {
        width: 85vw;
        text-align: left;
        -moz-column-count: 1;
        -moz-column-gap: 0vw;
        -webkit-column-count: 1;
        -webkit-column-gap: 0vw;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        column-count: 1;
        column-gap: 0vw;
        font-size: 5vw;
    }

    .store-dive {
        font-size: 4vw;
        text-align: left;
        width: 100vw;
        background-color: #FDF5E6;
        display: none;
        margin-top: 2vw;
        white-space: normal;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        column-count: 1;
        column-gap: 0;
        overflow: hidden;
    }

    #caveats {
        width: 90vw;
        margin-left: 3vw;
        font-size: 4vw;
    }

    #caveat-percentage {
        font-size: 5vw;
    }

    #about {
        font-size: 2vw;
    }
}
