body {
    background-color: #FDF5E6;
    background-size: 150vw;
    background-repeat: no-repeat;
    background-position: 15vw 2vh;
    z-index: -2;
    background-image: url('../js/lib/images/bottle2.svg')
}

#boozicorn-image img {
    width: 30vw;
    display: inline-block;
    align: center;
    margin-left: 35vw;
    margin-bottom: 3vw;
    /*position: fixed;*/
}

.button {
    background-color: #4682B4;
    font-family: 'Quattrocento', serif;
    border: none;
    color: white;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 45vw;
    font-size: 2vw;
}

#total {
    text-align: center;
}

.search-results {
    font-family: 'Quattrocento', serif;
    font-size: 3vw;
    color: #000000;
}

.message {
    text-align: center;
}

label {
    display: none;
}

@media only screen and (max-width: 450px) {
    ul {
        padding: 0;
        margin-left: 5vw;
    }

    .search-results {
        font-size: 6vw;
        margin-left: 0;
    }

    .form-control {
        width: 73vw;
        height: 20vw;
        display: block;
        margin-left: 7vw;
    }

    input {
        font-family: 'Quattrocento', serif;
        font-size: 7vw;
    }

    .button {
        width: 80vw;
        height: 15vw;
        font-size: 6vw;
        margin-left: 7vw;
        margin-bottom: 2vw;
    }

    ul {
        list-style: none;
    }
}
