body {
    background-color: #FDF5E6;
    background-size: 500vh;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
    background-image: url('../js/lib/images/bottle2.svg')
}

#map {
    width: 80vw;
    height: 400px;
    margin-top: 5%;
    margin-left: 10vw;
    margin-bottom: 5vh;
}

#header {
    color: #582335;
    font-family: 'Rye', Helvetica, sans-serif;
    font-size: 7vw;
    text-align: center;
}

#header h1 {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.intro-text {
    font-family: 'Quattrocento', 'Tenor Sans', Helvetica, sans-serif;
    font-size: 3vw;
    margin-top: 5vh;
    margin-bottom: 7vh;
    text-align: center;
    width: 75vw;
    display: block;
    text-align: center;
    margin-left: 7.5%;
    border-left: 2px dotted;
    border-right: 2px dotted;
    padding-left: 2%;
    padding-right: 2%;
}

#header span {
    color: #000000;
}

.num {
    color: #000000;
    font-weight: bold;
}

.date {
    font-family: 'Quattrocento', Helvetica, sans-serif;
    color: #000000;
    font-size: 6vw;
    display: block;
    text-align: center;
    margin-bottom: 15vh;
}

.boozicorns {
    color: #000000;
    font-family: 'Rye', Helvetica, sans-serif;
    font-size: 7vw;
    margin-bottom: 0;
}

.date p {
    color: #000000;
    margin-top: 0;
}

.date p:nth-child(2) {
    font-size: 4vw;
}

.summary {
    font-size: 6.5vh;
    font-family: 'Quattrocento', 'Cabin Sketch', 'Sue Ellen Francisco', 'Ribeye', 'Kranky', 'Fredericka the Great';
    text-align: center;
    margin-bottom: 1%;
    display: block;
}

.summary-num {
    font-family: 'Quattrocento';
    font-weight: bold;
    font-size: 10vw;
    margin-bottom: 0;
}

.summary p {
    margin-top: 0;
    margin-bottom: 0;
}

.summary-context {
    font-size: 2vw;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10vh;
}

.summary-context p {
    margin-top: 0;
}

#about {
    font-family: 'Quattrocento';
    font-size: 3vh;
    color: #582335;
    text-align: center;
    margin-bottom: 5%;
}

#about a {
    color: #000000;
}

.glass {
    margin-bottom: 8vh;
    margin-top: 8vh;
}

.fa-glass {
    text-align: center;
    color: #000000;
    font-size: 8vh;
    display: block;
}

a {
    text-decoration: none;
}

.asterisk {
    color: #000000;
}

.fa-caret-up {
    color: #000000;
}

#caveats {
    font-family: 'Quattrocento', serif;
    font-size: 1.5vw;
    border: 1px dotted;
    width: 80vw;
    padding: 1%;
    display: block;
    margin-left: 10vw;
    margin-bottom: 5vh;
}

#caveats p strong {
    font-family: 'Rye';
}

@media only screen and (max-width: 320px) {
    body {
        background-position: center;
        background-size: 250vh;
    }

    #map {
        display: none;
    }

    .intro-text {
        font-size: 5vw;
    }

    .date {
        font-size: 7vw;
    }

    .summary {
        font-size: 6vh;
        font-family: 'Quattrocento', 'Cabin Sketch', 'Sue Ellen Francisco', 'Ribeye', 'Kranky', 'Fredericka the Great';
        text-align: center;
        margin-bottom: 1%;
        display: block;
    }

    .summary-num {
        font-family: 'Quattrocento';
        font-weight: bold;
        font-size: 15vw;
        margin-bottom: 0;
    }

    .summary-context {
        font-size: 4.5vw;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10vh;
    }

    #caveats {
        width: 90vw;
        margin-left: 1.5vw;
        font-size: 4vw;
    }
}
