#map {
    width: 100%;
    height: 650px;
}

.min-max-bottles {
    width: 55%;
    font-size: 150%;
    font-family: Helvetica;
}

.store {
    width: 70%;
    font-size: 125%;
    font-family: Helvetica;
    color: #808080;
}
