{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
    <link rel="stylesheet" href="{% static 'css/404.css' %}" type="text/css">
</head>

<body>
<div id="text404">
    <p>MY FAULT. MY FAULT. THIS ONE'S ON ME.</p>
</div>

<div id="image500">
    <img src="{% static 'media/puking_rainbows.gif' %}" alt="A gif of a gnome puking rainbows.">
</div>
<div>
    <p>Apparently there's a server problem. I hope we're working on it.</p>
</div>
</body>
