{% extends 'index.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/lib/leaflet-0.75.css' %}" />
<link rel="stylesheet" href="{% static 'css/boozicorns.css' %}" />
{% endblock %}

{% block content %}
<div id="header">
    <h1>boozicorns<span>.</span></h1>
</div>
<div id="boozicorn-image"><img src="{% static 'media/boozicorn_transparent.png' %}" alt="The site's logo: A unicorn with a wine bottle for a horn. Pretty great." /></div>
<div class="intro-text">
    <p>
        Every day across Pennsylvania, about <span class="num">14 percent</span> of the <span class="num">14,000</span>
        alcohol-related products the state's Liquor Control Board sells in its <span id="num-stores" class="num">{{ unicorns.num_stores }}</span>
        monopoly retail stores are available in only <span class="num">one</span> of them.
        That's <span class="num">2,000</span> products, for one reason or another,
        for sale in just one place in the commonwealth's <span class="num">46,000 square-miles</span>.
    </p>
    <p>
        The PLCB's sites make them almost impossible to find.
        <div id="back-to-top"></div>
    </p>
    <p>
        So we did it for you.<a class="asterisk" href="#caveats">*</a>
    </p>
    <p>
        These are the unicorns. These are the boozicorns.
    </p>
</div>
<div class="glass"><span class="fa fa-glass"></span></div>
<div class="aggregate">
    <div id="date"><h4>{{ unicorns.data_date }}</h4></div>
    <div class="aggregate-summary">
        <p><span id="boozicorns" class="num big-summary-num"></span></p>
        <div class="aggregate-context"><p>total boozicorns</p></div>
    </div>
    <div class="aggregate-summary">
        <p><span id="boozicorns-stores" class="num big-summary-num"></span></p>
        <div class="aggregate-context">
            <p><span id="boozicorns-stores-percentage"></span>% of stores have boozicorns</p>
        </div>
    </div>
</div>
<div id="map"></div>
<div id="search">
    <form method="POST" action='{% url "unicorns" %}'>
        {% csrf_token %}
        <p>{{ message }}</p>
        <p>{{ form }}</p>
        <div id="unicorn-button">
            <button class="button" method="post" type="submit"> Search today's boozicorns</button>
        </div>
    </form>
</div>
<div id="unicorns-categories">
    <div id="top-store">
        <p class="stores"><span class="num summary-num top10">top 10 stores</span></p>
        <div class="store-container">
            {% for stores in unicorns.top_stores %}
             {% for store, unicorns in stores.items %}
                <div class="summary-store">
                    <p><a href='{% url "stores" %}#store-{{ store.0 }}'><strong>{{ store.1 }}</strong> :: <span class="num-bottles">{{ unicorns }}</a></span></p>
                </div>
            {% endfor %}
           {% endfor %}
       </div>
    </div>
    <div id="whiskey" class="summary">
        <p><span class="num summary-num">{{ unicorns.whiskey.0 }}</span></p>
        <div class="summary-context"><p>whisk(e)y</p></div>
            <div id="whiskey-dive" class="unicorn-dive">
                <ol>
                    {% for unicorn in unicorns.whiskey.1 %}
                        <li>
                            <p class="unicorn-name"><strong>{{ unicorn.name|lower }}</strong> ({{ unicorn.num_bottles }})</p>
                            <p>${{ unicorn.price }} :: {{ unicorn.bottle_size }}</p>
                            {% if unicorn.on_sale_price %}<p>sale price: ${{ unicorn.on_sale_price }}</p>{% endif %}
                            <p>{{ unicorn.store.address|lower|slice:"-4" }}</p>
                            <p>{{ unicorn.store.phone }} :: {{ unicorn.store.store_type|lower }}</p>
                        </li>
                    {% endfor %}
                </ol>
            <!-- </div> -->
        </div>
    </div>
    <div id="gin" class="summary">
        <p><span class="num summary-num">{{ unicorns.gin.0 }}</span></p>
        <div class="summary-context"><p>gin</p></div>
            <div id="gin-dive" class="unicorn-dive">
                <ol>
                    {% for unicorn in unicorns.gin.1 %}
                        <li>
                            <p class="unicorn-name"><strong>{{ unicorn.name|lower }}</strong> ({{ unicorn.num_bottles }})</p>
                            <p>${{ unicorn.price }} :: {{ unicorn.bottle_size }}</p>
                            {% if unicorn.on_sale_price %}<p>sale price: ${{ unicorn.on_sale_price }}</p> {% endif %}
                            <p>{{ unicorn.store.address|lower|slice:"-4" }}</p>
                            <p>{{ unicorn.store.phone }} :: {{ unicorn.store.store_type|lower }}</p>
                        </li>
                    {% endfor %}
                </ol>
            <!-- </div> -->
        </div>
    </div>
    <div id="rum" class="summary">
        <p><span class="num summary-num">{{ unicorns.rum.0 }}</span></p>
        <div class="summary-context"><p>rum</p></div>
            <div id="rum-dive" class="unicorn-dive">
                <ol>
                    {% for unicorn in unicorns.rum.1 %}
                        <li>
                            <p class="unicorn-name"><strong>{{ unicorn.name|lower }}</strong> ({{ unicorn.num_bottles }})</p>
                            <p>${{ unicorn.price }} :: {{ unicorn.bottle_size }}</p>
                            {% if unicorn.on_sale_price %}<p>sale price: ${{ unicorn.on_sale_price }}</p> {% endif %}
                            <p>{{ unicorn.store.address|lower|slice:"-4" }}</p>
                            <p>{{ unicorn.store.phone }} :: {{ unicorn.store.store_type|lower }}</p>
                        </li>
                    {% endfor %}
                </ol>
            <!-- </div> -->
        </div>
    </div>
    <div id="agave" class="summary">
        <p><span class="num summary-num">{{ unicorns.agave.0 }}</span></p>
        <div class="summary-context"><p>agave</p></div>
            <div id="agave-dive" class="unicorn-dive">
                <ol>
                    {% for unicorn in unicorns.agave.1 %}
                        <li>
                            <p class="unicorn-name"><strong>{{ unicorn.name|lower }}</strong> ({{ unicorn.num_bottles }})</p>
                            <p>${{ unicorn.price }} :: {{ unicorn.bottle_size }}</p>
                            {% if unicorn.on_sale_price %}<p>sale price: ${{ unicorn.on_sale_price }}</p> {% endif %}
                            <p>{{ unicorn.store.address|lower|slice:"-4" }}</p>
                            <p>{{ unicorn.store.phone }} :: {{ unicorn.store.store_type|lower }}</p>
                        </li>
                    {% endfor %}
                </ol>
            <!-- </div> -->
        </div>
    </div>
</div>
<div id="unicorns-data">
    <div id="top-price" class="summary">
        <p><span class="num summary-num top10">Top 10 by price</span></p>
        <div id="top-dive" class="unicorn-dive">
            <ol>
                {% for unicorn in unicorns.max  %}
                    <li>
                        <p class="unicorn-name"><strong>{{ unicorn.name|lower }}</strong> ({{ unicorn.num_bottles }})</p>
                        <p>${{ unicorn.price }} :: {{ unicorn.bottle_size }}</p>
                        {% if unicorn.on_sale_price %}<p>sale price: ${{ unicorn.on_sale_price }}</p> {% endif %}
                        <p>{{ unicorn.store.address|lower|slice:"-4" }}</p>
                        <p>{{ unicorn.store.phone }} :: {{ unicorn.store.store_type|lower }}</p>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div id="low-price" class="summary">
        <p><span class="num summary-num top10">Bottom 10 by price</span></p>
        <div id="low-dive" class="unicorn-dive">
            <ol>
                {% for unicorn in unicorns.min %}
                    <li>
                        <p class="unicorn-name"><strong>{{ unicorn.name|lower }}</strong> ({{ unicorn.num_bottles }})</p>
                        <p>${{ unicorn.price }} :: {{ unicorn.bottle_size }}</p>
                        {% if unicorn.on_sale_price %}<p>sale price: ${{ unicorn.on_sale_price }}</p> {% endif %}
                        <p>{{ unicorn.store.address|lower|slice:"-4" }}</p>
                        <p>{{ unicorn.store.phone }} :: {{ unicorn.store.store_type|lower }}</p>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div id="fancy" class="fancy-summary">
        <p><a href="{% url 'fancy' %}"><span class="num summary-num">{{ unicorns.fancy.0 }}</span></a></p>
        <div class="summary-context"><p>above $100</p></div>
    </div>
    <div id="discounted-dollars" class="summary">
        <p><span class="num summary-num top10">Top 10 discounted $</span></p>
        <div id="dollars-dive" class="unicorn-dive">
            <ol>
                {% for unicorn in unicorns.discounted  %}
                    <li>
                        <p class="unicorn-name"><strong>{{ unicorn.name|lower }}</strong> ({{ unicorn.num_bottles }})</p>
                        <p>${{ unicorn.price }} :: {{ unicorn.bottle_size }}</p>
                        <p>sale price: ${{ unicorn.on_sale_price }}</p>
                        <p>{{ unicorn.store.address|lower|slice:"-4" }}</p>
                        <p>{{ unicorn.store.phone }} :: {{ unicorn.store.store_type|lower }}</p>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div id="discounted-percentage" class="summary">
        <p><span class="num summary-num top10">Top 10 discounted %</span></p>
        <div id="percent-dive" class="unicorn-dive">
            <ol>
                {% for unicorn in unicorns.percent_discount %}
                    <li>
                        <p class="unicorn-name"><strong>{{ unicorn.name|lower }}</strong> ({{ unicorn.num_bottles }})</p>
                        <p>${{ unicorn.price }} :: {{ unicorn.bottle_size }}</p>
                        <p>sale price: ${{ unicorn.on_sale_price|floatformat:2 }}</p>
                        <p>{{ unicorn.store.address|lower|slice:"-4" }}</p>
                        <p>{{ unicorn.store.phone }} :: {{ unicorn.store.store_type|lower }}</p>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="mean-median-mode">
        <div id="mode" class="summary-black">
            <p><span class="num no-click">${{ unicorns.median }}</span></p>
            <div><p>median price</p></div>
        </div>
        <div id="median" class="summary-black">
            <p><span class="num no-click">{{ unicorns.mode.1 }} at ${{ unicorns.mode.0 }}</span></p>
            <div><p>most common price</p></div>
        </div>
        <div id="most-bottles" class="summary-black">
            <p><span class="num no-click">{{ unicorns.bottles.0 }}</span></p>
            <div><p>most bottles</p></div>
            <!-- </div> -->
        </div>
        <div id="most-bottles-detail" class="summary">
            <p class="unicorn-name"><strong>{{ unicorns.bottles.1.name|lower }}</strong></p>
            <p>${{ unicorns.bottles.1.price }}</p>
            {% if unicorns.bottles.1.on_sale %}<p>{{ unicorns.bottles.1.on_sale_price }}</p>{% endif %}
            <p>{{ unicorns.bottles.1.store.address|lower|slice:"-4" }} :: {{ unicorns.bottles.1.store.phone }}</p>
        </div>
    </div>
</div>
<div id="caveats">
    <p>
        <strong>A few notes:</strong><em> This data is only as good -- and only as available --
            on any given day as the PLCB's database and servers. They're imperfect.
            And so is the script that populates this site. Which, um, isn't always their fault.
    </p>
    <p>
        Some weirdness like bad product names -- such as those including the term "mezcal tequila," which is not a thing --
        I've left intact in part to help you find the product out in the wild.
        Often there's only a few of something. So if you see something you like, call the store.
        The data is updated daily at best. We do the best we can to respect them and you at the same time,
        liberating information from terrible interfaces that also helps you make informed buying decisions.
    </p>
    <p>
        Well. In theory. Some of this stuff is awful.
    </p>
    <p>
        Which brings us to the boozicorns themselves. Sometimes a product is unique
        because of its size. Or maybe because of its vintage. In the PLCB's system,
        each vintage of a wine is a separate product. A bourbon at 200 ML is
        a different product than the same bourbon at 750 ML. A rum at 750 ML is
        different than the same rum at 750 ML if it's packaged with glassware. Or maybe
        it's a fluke: a terrifically common product that for whatever reason is nearly
        out of stock in all of Pennsylvania that day.
    </p>
    <p>
        There isn't necessarily an inherent specialness in any of these products --
        although sometimes there very much is. That's all part of the fun of
        exploring data like this.
    </p>
    <p>
        So keep all that in mind. And happy hunting. <a href="#back-to-top"><span class="fa fa-caret-up"></span></a></em>
    </p>
</div>
<div id="about"><p>Go inside the Boozicorns project on <a target="_blank" href="https://github.com/thejqs/plcb">GitHub</a></p></div>

<script src="{% static 'js/lib/leaflet-0.75.js' %}" type="text/javascript"></script>
<script src="{% static 'js/lib/tile.stamen-1.3.0.js' %}" type="text/javascript"></script>
<script type="text/javascript">var scrapeDate = '{{ unicorns.scrape_date }}';</script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
