{% load staticfiles %}
<!doctype html>
<html>
<head>
	<title>Boozicorns | Jacob Quinn Sanders.</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
	<meta name="HandheldFriendly" content="True">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="MobileOptimized" content="320"/>
	<meta http-equiv="cleartype" content="on">
    <meta name="description" content="Hunting for daily rarities among the wine and spirits of the Pennsylvania Liquor Control Board.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thejqs">
    <meta name="twitter:title" content="Boozicorns: Alcohol-related singularities in Pennsylvania. Every day.">
    <meta name="twitter:description" content="A Python scraping project.">
    <meta name="twitter:image" content="../static/media/boozicorns-twitter.png">
    <meta property="og:url" content="http://boozicorns.com/">
    <meta property="og:site_name" content="Jacob Quinn Sanders.">
    <meta property="article:author" content="https://www.facebook.com/thejqs">
    <meta property="og:title" content="Boozicorns: A Python scraping project exploring rarities within the databases of the Pennsylvania Liquor Control Board.">
    <meta property="og:description" content="Pennsylvania makes it hard to find the rarest wine and spirits for sale each day in the commonwealth. So we decided to collect them for you. These are the PLCB's boozicorns.">
    <meta property="og:image" content="../static/media/boozicorns-twitter.png">
    <link rel="shortcut icon" href="{% static 'media/boozicorn_transparent.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'media/boozicorn_transparent.png' %}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
