{% load staticfiles %}
<!doctype html>
<html>
<head>
	<title>Boozicorns | Jacob Quinn Sanders.</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
	<meta name="HandheldFriendly" content="True">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="MobileOptimized" content="320"/>
	<meta http-equiv="cleartype" content="on">
    <meta name="description" content="Hunting for daily rarities among the wine and spirits of the Pennsylvania Liquor Control Board.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thejqs">
    <meta name="twitter:title" content="Boozicorns: Alcohol-related singularities in Pennsylvania. Every day.">
    <meta name="twitter:description" content="A Python scraping project.">
    <meta name="twitter:image" content="../static/media/boozicorns-twitter.png">
    <meta property="og:url" content="http://boozicorns.com/">
    <meta property="og:site_name" content="Jacob Quinn Sanders.">
    <meta property="article:author" content="https://www.facebook.com/thejqs">
    <meta property="og:title" content="Boozicorns: A Python scraping project exploring rarities within the databases of the Pennsylvania Liquor Control Board.">
    <meta property="og:description" content="Pennsylvania makes it hard to find the rarest wine and spirits for sale each day in the commonwealth. So we decided to collect them for you. These are the PLCB's boozicorns.">
    <meta property="og:image" content="../static/media/boozicorns-twitter.png">
    <link rel="shortcut icon" href="{% static 'media/boozicorn_transparent.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'media/boozicorn_transparent.png' %}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/lib/leaflet-0.75.css' %}" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div id="header">
        <h1>boozicorns<span>.</span></h1>
    </div>
    <div id="boozicorn-image"><img src="{% static 'media/boozicorn_transparent.png' %}" alt="" /></div>
    <div class="intro-text">
        <p>
            Every day across Pennsylvania, about <span class="num">14 percent</span> of the <span class="num">14,000</span> alcohol-related products the state's Liquor Control Board sells in its <span id="num-stores" class="num">{{ unicorns.num_stores }}</span> monopoly retail stores are available in only <span class="num">one</span> of them. That's <span class="num">2,000</span> products, for one reason or another, for sale in just one place in the commonwealth's <span class="num">46,000 square-miles</span>.
        </p>
        <p>
            The PLCB's sites make them almost impossible to find.
            <div id="back-to-top"></div>
        </p>
        <p>
            So we did it for you.<a class="asterisk" href="#caveats">*</a>
        </p>
        <p>
            These are the unicorns. These are the boozicorns.
        </p>
    </div>
    <div class="glass"><span class="fa fa-glass"></span></div>
    <div id="aggregate">
        <div id="date">
            <h4>
                {{ unicorns.data_date }}
            </h4>
        </div>
        <div class="aggregated-summary">
            <p>
                <span id="boozicorns" class="num big-summary-num"></span>
            </p>
            <div class="summary-context">
                <p>
                    total boozicorns
                </p>
            </div>
        </div>
        <div class="aggregated-summary">
            <p>
                <span id="boozicorns-stores" class="num big-summary-num"></span>
            </p>
            <div class="summary-context">
                <p>
                     <span id="boozicorns-stores-percentage"></span>% of stores have boozicorns
                </p>
            </div>
        </div>
    </div>
    <div id="unicorns-categories">
        <div id="whiskey" class="summary">
            <p>
                <span class="num summary-num">{{ unicorns.whiskey.0 }}</span>
            </p>
            <div class="summary-context">
                <p>
                    whiskeys
                </p>
                <div class="unicorn-dive">
                    <ul>
                        {% for unicorn in unicorns.whiskey.1 %}
                            <li>
                                {{ unicorn.name|lower }} :: {{ unicorn.bottle_size }} :: {{ unicorn.price }} {% if unicorn.on_sale %} :: Sale price: {{ unicorn.on_sale }} {% endif %}
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
        <div id="gin" class="summary">
            <p>
                <span class="num summary-num">{{ unicorns.gin.0 }}</span>
            </p>
            <div class="summary-context">
                <p>
                    gins
                </p>
                <div class="unicorn-dive">
                    <ul>
                        {% for unicorn in unicorns.gin.1 %}
                            <li>
                                {{ unicorn.name|lower }} :: {{ unicorn.price }} :: {{ unicorn.bottle_size }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="rum" class="summary">
            <p>
                <span class="num summary-num">{{ unicorns.rum.0 }}</span>
            </p>
            <div class="summary-context">
                <p>
                    rums
                </p>
                <div class="unicorn-dive">
                    <ul>
                        {% for unicorn in unicorns.rum.1 %}
                            <li>
                                {{ unicorn.name|lower }} :: {{ unicorn.price }} :: {{ unicorn.bottle_size }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="agave" class="summary">
            <p>
                <span class="num summary-num">{{ unicorns.agave.0 }}</span>
            </p>
            <div class="summary-context">
                <p>
                    agave
                </p>
                <div class="unicorn-dive">
                    <ul>
                        {% for unicorn in unicorns.agave.1 %}
                            <li>
                                {{ unicorn.name|lower }} :: {{ unicorn.price }} :: {{ unicorn.bottle_size }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="unicorns-data">
        <div id="top-price" class="summary">
            <p>
                <span class="num summary-num">{{ unicorns.max.1 }}</span>
            </p>
            <p>
                {{ unicorns.max.0 }}
            </p>
            <div class="summary-context">
                <p>
                    highest-priced
                </p>
            </div>
        </div>
        <div id="low-price" class="summary">
            <p>
                <span class="num summary-num">{{ unicorns.min.1 }}</span>
            </p>
            <p>
                {{ unicorns.min.0 }}
            </p>
            <div class="summary-context">
                <p>
                    lowest-priced
                </p>
            </div>
        </div>
        <div id="fancy" class="summary">
            <p>
                <span class="num summary-num">{{ unicorns.fancy.0 }}</span>
            </p>
            <div class="summary-context">
                <p>
                    above $100
                </p>
            </div>
            <div class="unicorn-dive">
                <ul>
                    {% for unicorn in unicorns.fancy.1  %}
                        <li>
                            {{ unicorn.name|lower }} :: ${{ unicorn.price }} {% if unicorn.on_sale %} :: Sale price: ${{ unicorn.on_sale }} {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="mode" class="summary">
            <p>
                <span class="num summary-num">${{ unicorns.median }}</span>
            </p>
            <div class="summary-context">
                <p>
                    median price
                </p>
            </div>
        </div>
        <div id="median" class="summary">
            <p>
                <span class="num summary-num">{{ unicorns.mode.1 }} at ${{ unicorns.mode.0 }}</span>
            </p>
            <div class="summary-context">
                <p>
                    most common price
                </p>
            </div>
        </div>
        <div id="most-bottles" class="summary">
            <p>
                <span class="num summary-num">{{ unicorns.bottles.1 }}</span>
            </p>
            <p>
                {{ unicorns.bottles.0 }}
            </p>
            <p>
                {{ unicorns.bottles.2 }}
            </p>
            {% if unicorns.bottles.3 %}
                <p>
                    {{ unicorns.bottles.3 }}
                </p>
            {% endif %}
            <div class="summary-context">
                <p>
                    most bottles
                </p>
                <p>
                    {{ unicorns.bottles.4 }}
                </p>
            </div>
        </div>
        <div id="top-store" class="summary">
            <p>
                <span class="num summary-num">{{ unicorns.store.1 }}</span>
            </p>
            <p>
                {{ unicorns.store.0 }}
            </p>
            <div class="summary-context">
                <p>
                    store with the most
                </p>
                <div class="unicorn-dive">
                    <ul>
                        {% for unicorn in unicorns.store.2  %}
                            <li>
                                {{ unicorn.name|lower }} :: ${{ unicorn.price }}{% if unicorn.on_sale %} :: Sale price: ${{ unicorn.on_sale }}{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<div id="map"></div>
    <div id="caveats">
        <p>
            <strong>A few notes:</strong><em> This data is only as good -- and only as available -- on any given day as the PLCB's database and servers. They're imperfect. And so is the script that populates this site. Which, um, isn't always their fault.
        </p>
        <p>
            Some weirdness like bad product names -- such as those including the words "mezcal tequila," which is not a thing -- I've left intact in part to help you find the product. Often there's only a few of something. So if you see something you like, call the store. The data is updated daily at best. We do the best we can to respect them and you at the same time, liberating information from terrible interfaces that also helps you make informed buying decisions.
        </p>
        <p>
            Well. In theory. Some of this stuff is awful.
        </p>
        <p>
            Which brings us to the boozicorns themselves. Sometimes a product is unique because of its size. Or maybe because of its vintage. In the PLCB's system, each vintage of a wine is a separate product. A bourbon at 200 ML is a different product than the same bourbon at 750 ML. Or maybe it's a fluke: something terrifically common that for whatever reason is nearly out of stock in all of Pennsylvania that day.
        </p>
        <p>
            There isn't necessarily an inherent specialness in any of these products -- although sometimes there very much is. That's all part of the fun of exploring data like this.
        </p>
        <p>
            So keep all that in mind. And happy hunting. <a href="#back-to-top"><span class="fa fa-caret-up"></span></a></em>
        </p>
    </div>
    <div id="about">
        <p>
            Go inside the Boozicorns project on <a target="_blank" href="https://github.com/thejqs/plcb">GitHub</a>
        </p>
    </div>

	<script src="{% static 'js/lib/leaflet-0.75.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/lib/tile.stamen-1.3.0.js' %}" type="text/javascript"></script>

    </script>
    <script type="text/javascript">
        var scrapeDate = '{{ unicorns.scrape_date }}';
    </script>
	<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
